experiment:
  name: "MicroFeatEX_Distill"
  description: "Student (EfficientFeatureExtractor) with SuperPoint Teacher + Synthetic COCO"
  version: "v1.0"

paths:
  coco_root: "dataset/coco_20k/"
  checkpoint_dir: "checkpoints/"
  log_dir: "logs/"
  # Ensure you have the teacher weights here
  superpoint_weights: "dataset/superpoint_v1.pth" 

system:
  device: "cuda"
  num_workers: 4
  seed: 42

model:
  descriptor_dim: 64
  binary_bits: 256
  
training:
  batch_size: 8
  epochs: 50
  lr: 0.0003    # 3e-4
  save_interval: 500 # Steps
  
  loss_weights:
    heatmap: 1.0   # Weight for SuperPoint Dense Distillation (Focal Loss)
    distill: 1.0    # Weight for Descriptor Matching (Dual Softmax)
    fine: 1.0
    reliability: 1.0

augmentation:
  warp_resolution: [640, 480]  
  out_resolution: [640, 480]   
  sides_crop: 0.1              
  photometric: true            
  geometric: true              
  use_tps: true                
  tps_prob: 0.3                
  difficulty: 0.1

